.footer {
  display: flex;

  column-gap: 5rem;
  flex-basis: 0;
  outline: 5px solid red;
  padding-bottom: 8rem;
//  flex-basis: 30rem auto auto;
}


.footer__container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
//  margin-left: 9rem;

  &::after {
    content: "";
    position: absolute;
//    border-right: 1px solid #D7D9DF;
    width: 0.1rem;
    height: 20rem;
    background-color: #D7D9DF;
    right: 0;

  }
}

.footer__social-wrapper {
  display: flex;
  column-gap: 1.5rem;
  margin-right: 3rem;
}

.footer__social {
  font-size: 14px;
line-height: 17px;
/* identical to box height */

text-decoration-line: underline;

/* акцентный основной */

color: #FE7865;
}

.footer__icon-phone {
  fill: #D7D9DF;
  stroke: #D7D9DF;
  width: 3rem;
  height: 3rem;

}
.footer__icon-mail {
  width: 2.5rem;
  height: 2rem;
  fill: #D7D9DF;
}

.footer__column {
  margin-right: 5rem;

}
.footer__columns {
//  width: 150rem;
  display: flex;
  flex-wrap: nowrap;
}
.footer__title {
  display: block;
  max-width: 100%;
  font-weight: 600;
font-size: 18px;
line-height: 32px;
  color: @black;
  margin: 0;
//  margin-bottom: 2rem;
}

.footer__social {
  display: block;
}
.footer__text {
  font-size: 14px;
line-height: 17px;

color: rgba(20, 21, 23, 0.5);
}
.footer__text--right {
  font-size: 14px;
line-height: 24px;
}


