.intro {
  background-image: url(../../img1/main-picture.jpg);
//  outline: 5px solid red;
  width: 100%;
  max-height: 86rem;
  margin-bottom: 20rem;
    outline: 5px solid red;

}

.intro__wrapper {
  display: flex;
  justify-content: flex-end;
  min-height: 86rem;
//  align-items: center;
//  height: 100%;
  align-items: center;
//  width: 1rem;
  margin-right: 6rem;
//
}
.intro__inner {
//  align-items: center;
  width: 42rem;
  height: auto;
//outline: 5px solid green;

}

.container {
}



.intro__text {
//  max-width: 377px;
//  align-items: center;
  margin-top: -12rem;
}
.intro__title {
  font-weight: 600;
  font-size: 5.5rem;
  color: white;
  line-height: 80px;
  margin-bottom: 3rem;
  margin-top: 0;
//  align-items: center;
}
.intro__describe {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 170%;
  color: white;
}
.intro__button {
  vertical-align: top;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: inherit;
  line-height: 1.4rem;
  padding: 2em 1.5em;
  width: 34rem;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #FE7865;
  -webkit-text-emphasis: uppercase;
          text-emphasis: uppercase;
  outline: 5px solid red;
}
.arrow {
  width: 1.4rem;
  height: 1.4rem;
  fill: none;
}

////
//.intro::before {
//  content: "";
//  background: url("../img/text-sedona-index.svg"), url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
//  background-size: 280px, 100%, cover;
//  width: 100%;
//  height: 390px;
//  position: absolute;
//  background-repeat: no-repeat;
//  top: 0px;
//  left: 0;
//  z-index: -1;
//  background-position: center, bottom, center;
//  background-color: blue;
//
//  @media (min-resolution: 2dppx) {
//      background: url("../img/text-sedona-index.svg"), url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
//      background-size: 280px, contain, cover;
//      width: 100%;
//      height: 390px;
//      position: absolute;
//      background-repeat: no-repeat;
//      top: 0px;
//      left: 0;
//      z-index: -1;
//      background-position: center, bottom, center;
//      background-color: blue;
//    }
//
//  // bottom: 300px;
//
//  @media (min-width: @tablet-width) {
//    display: block;
//    background: url("../img/text-sedona-index.svg"), url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
//    height: 517px;
//    background-size: 460px, 100%, cover;
//    // top: 10px;
//    background-position: center 76px, bottom, center;
//    background-repeat: no-repeat;
//    background-color: blue;
//
//    @media (min-resolution: 2dppx) {
//        background: url("../img/text-sedona-index.svg"), url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
//        height: 517px;
//        background-size: 460px, 100%, cover;
//        // top: 10px;
//        background-position: center 76px, bottom, center;
//        background-repeat: no-repeat;
//        background-color: blue;
//      }
//  }
//
////  @media (min-width: @desktop-width) {
////    background: url("../img/text-sedona-index.svg"), url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
////    height: 517px;
////    background-size: 460px, 100%, cover;
////    // top: 10px;
////    background-position: center 76px, bottom, center;
////    background-repeat: no-repeat;
////    background-color: blue;
////
////    @media (min-resolution: 2dppx) {
////        background: url("../img/text-sedona-index.svg"),url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
////        height: 517px;
////        background-size: 460px, 100%, cover;
////        // top: 10px;
////        background-position: center 76px, bottom, center;
////        background-repeat: no-repeat;
////        background-color: blue;
////      }
////  }
//
//  @media (min-width: @desktop-width) {
//
////    height: 517px;
//    background-size: 100%;
//    // top: 10px;
////    background-position: center 76px, bottom, center;
//    background-repeat: no-repeat;
//    background-color: blue;
//    z-index: 0;
//
//    @media (min-resolution: 2dppx) {
//        background: url("../img/text-sedona-index.svg"),url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
//        height: 517px;
//        background-size: 460px, 100%, cover;
//        // top: 10px;
//        background-position: center 76px, bottom, center;
//        background-repeat: no-repeat;
//        background-color: blue;
//      }
//  }
//
//}
//
////.intro {
////  z-index: 1;
////  position: absolute;
////  right: 0;
////  top: 0;
////}
//
//
////.intro {
////  position: relative;
////  // outline: 5px solid red;
////  text-align: center;
////  padding-left: 25px;
////  padding-right: 25px;
////  padding-top: 403px;
////  padding-bottom: 40px;
////  // margin-bottom: 35px;
////  font-size: 18px;
////line-height: 26px;
////
////
////  @media (max-width: @mobile-width-only) {
////    background: url(../img/intro-triangle1.svg);
////    background-size: cover;
////    background-repeat: no-repeat;
////    background-position: bottom;
////  }
////
////  @media (min-width: @tablet-width) {
////    padding-top: 540px;
////    padding-left: 120px;
////    padding-right: 120px;
////    padding-bottom: 40px;
////  }
////
////  @media (min-width: @desktop-width) {
////    padding-top: 553px;
////    padding-left: 360px;
////    padding-right: 360px;
////    padding-bottom: 28px;
////  }
////}
////
////.intro__title {
////  font-size: 18px;
////  line-height: 26px;
////  font-weight: bold;
////  margin-bottom: 30px;
////
////  @media (min-width: @tablet-width) {
////  font-size: 21px;
////  line-height: 26px;
////}
////}
////
////.intro__describe {
////  font-size: 14px;
////  line-height: 26px;
////  @media (min-width: @tablet-width) {
////    white-space: nowrap;
////
////  }
////}
