:root {
  --basic-black: #000000;
  --basic-grey: #333333;
  --basic-blue: #81b3d2;
  --basic-white: #ffffff;
  --background-grey: #eeeeee;
  --basic-brown: #766357;
  --basic-brown-hover: #604e43;
  --push-brown: #503e33;
  --form-chill: #f2f2f2;
  --form-push: #ebebeb;
  --calendar-chill: #a9a9a9;
  --extra-blue: #669ec0;
  --dark-blue: #5496bd;
  --basic-grey: #bdbbbc;
  --icons-of-dir-chill: #cacaca;
  --disabled: #6a6a6a;
  --date-of-check-in-focus: #e5e5e5;
  --background-toggle: #ababab;
  --box-shadow-toggle: #cfcfcf;
  --rate-wrapper: #666666;
  --icon-grey: #E6E6E6;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
body {
  font-family: "Montserrat", Arial, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  min-width: 320px;
  margin: 0 auto;
  max-width: 1920px;
  color: #141517;
}
.container {
  margin: 0 auto;
  max-width: 1180px;
  padding-left: 1rem;
}
@media (max-width: 1023px) {
  .container {
    max-width: 768rem;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0;
  }
}
.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: inherit;
  line-height: 1.5rem;
  padding: 3rem 3.2em;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #FE7865;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn:hover,
.btn:focus {
  background-color: #F17D4B;
}
@media (max-width: 1023px) {
  .btn {
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 1.6rem 4rem;
  }
}
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/montserrat.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.intro {
  background-image: url(../../img1/main-picture.jpg);
  max-width: 1920px;
  height: 86rem;
  margin-bottom: 20rem;
  background-size: cover;
  background-position: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .intro {
    background-image: url(../../img1/main-picture2x.jpg);
  }
}
@media (max-width: 1023px) {
  .intro {
    background-image: url(../../img1/main-picture-tablet.jpg);
    background-repeat: no-repeat;
    max-width: 768px;
    margin-bottom: 8rem;
    height: 34.4rem;
    background-size: cover;
  }
}
@media (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1023px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url(../../img1/main-picture-tablet2x.jpg);
  }
}
@media (max-width: 767px) {
  .intro {
    background-image: url(../../img1/main-picture-mobile.jpg);
    min-width: 320px;
    height: 235px;
    background-size: cover;
    margin-bottom: 20rem;
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url(../../img1/main-picture-mobile2x.jpg);
  }
}
.intro__wrapper {
  display: flex;
  justify-content: flex-end;
  height: 86rem;
  align-items: center;
}
@media (max-width: 1023px) {
  .intro__wrapper {
    height: 344px;
    width: 100%;
  }
}
.intro__inner {
  width: 46rem;
  height: auto;
}
@media (max-width: 1023px) {
  .intro__inner {
    width: 100%;
  }
}
.intro__text {
  margin-top: -14rem;
  height: 35rem;
  margin-right: 5rem;
}
@media (max-width: 1023px) {
  .intro__text {
    margin: 0 auto;
    text-align: center;
    max-width: 42rem;
    margin-top: -2rem;
    height: auto;
  }
}
@media (max-width: 767px) {
  .intro__text {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    max-width: 28.8rem;
  }
}
.intro__title {
  font-weight: 600;
  font-size: 5.5rem;
  color: white;
  line-height: 80px;
  margin-bottom: 1rem;
  margin-top: 0;
  letter-spacing: -1.10667px;
}
@media (max-width: 1023px) {
  .intro__title {
    letter-spacing: normal;
    font-size: 30px;
    line-height: 4.5rem;
  }
}
@media (max-width: 767px) {
  .intro__title {
    max-width: 30rem;
    margin-bottom: 10rem;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-top: 16rem;
    align-self: center;
  }
}
.intro__describe {
  margin-top: 3rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: white;
  margin-bottom: 3rem;
  margin-right: 4rem;
  letter-spacing: -0.466667px;
}
@media (max-width: 1023px) {
  .intro__describe {
    margin: 0;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .intro__describe {
    color: #2C2E3F;
  }
}
.intro__btn {
  max-width: 34rem;
  height: auto;
}
@media (max-width: 1023px) {
  .intro__btn {
    max-width: 25rem;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .intro__btn {
    max-width: 28.8rem;
  }
}
.arrow {
  width: 1.4rem;
  height: 1.4rem;
  fill: none;
  margin-left: 12rem;
}
@media (max-width: 1023px) {
  .arrow {
    margin-left: 4rem;
  }
}
.tabs {
  margin: 0 auto;
  position: relative;
  padding-bottom: 19rem;
}
.tabs::after {
  content: "";
  position: absolute;
  width: 90rem;
  height: 1px;
  top: 5rem;
  left: 0;
  background-color: rgba(44, 46, 63, 0.3);
}
@media (max-width: 1023px) {
  .tabs::after {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .tabs::after {
    display: none;
  }
}
@media (max-width: 1023px) {
  .tabs {
    padding-bottom: 10rem;
  }
}
.tabs > div {
  display: none;
  margin-bottom: 4rem;
}
.tabs > div > p {
  margin: 0 0 5px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tabs > input {
  display: none;
  position: absolute;
}
.tabs > label {
  display: inline-block;
  padding-left: 5px;
  padding-top: 1.5rem;
  margin-bottom: 10rem;
  letter-spacing: -0.415px;
  color: rgba(44, 46, 63, 0.3);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-right: 9.5rem;
}
.tabs > label:hover,
.tabs > label:focus {
  color: #F17D4B;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .tabs > label {
    margin-right: 5rem;
    margin-left: 3rem;
    text-align: center;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .tabs > label {
    display: inline-block;
    margin: 0;
    min-width: 15rem;
  }
}
.tabs > input:checked + label {
  color: #F17D4B;
}
#tabs__greece:checked ~ #content-tab1,
#tabs__albania:checked ~ #content-tab2,
#tabs__macedonia:checked ~ #content-tab3,
#tabs__montenegro:checked ~ #content-tab4,
#tabs__croatia:checked ~ #content-tab5 {
  display: flex;
  -moz-column-gap: 11rem;
       column-gap: 11rem;
}
@media (max-width: 1023px) {
  #tabs__greece:checked ~ #content-tab1,
  #tabs__albania:checked ~ #content-tab2,
  #tabs__macedonia:checked ~ #content-tab3,
  #tabs__montenegro:checked ~ #content-tab4,
  #tabs__croatia:checked ~ #content-tab5 {
    display: inline;
  }
}
@media (max-width: 767px) {
  #tabs__montenegro:checked ~ #content-tab4,
  #tabs__macedonia:checked ~ #content-tab3,
  #tabs__croatia:checked ~ #content-tab5,
  .tabs > label:nth-last-of-type(1),
  .tabs > label:nth-last-of-type(2),
  .tabs > label:nth-last-of-type(3) {
    display: none;
  }
}
@media (max-width: 1023px) {
  #tabs__croatia:checked ~ #content-tab5,
  .tabs > label:nth-last-of-type(1) {
    display: none;
  }
}
@media (max-width: 1023px) {
  .tabs__content-left {
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
  }
}
.tabs__title {
  display: block;
  font-size: 5.5rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 2rem;
  line-height: 90px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
@media (max-width: 1023px) {
  .tabs__title {
    font-size: 30px;
    line-height: 4.5rem;
    text-align: center;
    color: #2C2E3F;
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .tabs__title {
    font-size: 24px;
    margin-top: 3rem;
  }
}
.tabs__title:after {
  content: "";
  position: absolute;
  width: 17.5rem;
  height: 0.3rem;
  background-color: #F17D4B;
  left: 0;
  bottom: 0;
}
@media (max-width: 1023px) {
  .tabs__title:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .tabs__title:after {
    content: "";
    position: absolute;
    width: 30rem;
    height: 0.4rem;
    left: 0;
    bottom: 0;
    background-color: #FE7865;
  }
}
.tabs__text {
  font-size: 1.6rem;
  line-height: 28px;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  color: rgba(44, 46, 63, 0.7);
  letter-spacing: -0.466667px;
  max-width: 37rem;
}
@media (max-width: 1023px) {
  .tabs__text {
    margin-top: 0;
    display: block;
    text-align: center;
    max-width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 1.8rem;
  }
}
@media (max-width: 767px) {
  .tabs__text {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
.tabs__review-btn {
  margin-left: 0.5rem;
}
@media (max-width: 1023px) {
  .tabs__review-btn {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}
@media (max-width: 767px) {
  .tabs__review-btn {
    padding-right: 7rem;
    padding-left: 7rem;
  }
}
.tabs__review-wrapper {
  position: relative;
  outline: 5px solid red;
}
.tabs__review-img {
  margin-right: 25rem;
  display: flex;
}
@media (max-width: 1023px) {
  .tabs__review-img {
    margin: 0;
  }
}
.tabs__image {
  height: auto;
  width: 100%;
  background-size: cover;
}
@media (max-width: 767px) {
  .tabs__image {
    min-height: 41.5rem;
    min-width: 320px;
    z-index: -1;
  }
}
.tabs__review {
  position: absolute;
  right: 0;
  bottom: 12.5rem;
  margin-top: 11rem;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  max-width: 36.5rem;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  height: auto;
}
@media (max-width: 1023px) {
  .tabs__review {
    margin: 0 auto;
    bottom: 0;
    right: 19.5rem;
    padding-bottom: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 38rem;
    padding-top: 3rem;
  }
}
@media (max-width: 767px) {
  .tabs__review {
    position: absolute;
    padding-left: 2rem;
    padding-right: 2rem;
    right: 28px;
    bottom: -7rem;
    z-index: 1;
  }
}
.tabs__review-title {
  font-size: 3rem;
  position: relative;
  padding-bottom: 1rem;
}
@media (max-width: 1023px) {
  .tabs__review-title {
    padding-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .tabs__review-title {
    font-size: 20px;
    max-width: 22.8rem;
    line-height: 24px;
    letter-spacing: -0.691667px;
    display: block;
    text-align: center;
  }
}
.tabs__review-title:after {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  height: 0.1rem;
  width: 10rem;
  background-color: #FE7865;
}
@media (max-width: 1023px) {
  .tabs__review-title:after {
    width: 7rem;
  }
}
@media (max-width: 767px) {
  .tabs__review-title:after {
    width: 6.8rem;
    display: inline-block;
    text-align: center;
    left: 8rem;
  }
}
.tabs__review-text {
  line-height: 28px;
  margin-top: 3rem;
  color: rgba(44, 46, 63, 0.7);
  margin-bottom: 2.8rem;
  letter-spacing: -0.408333px;
}
@media (max-width: 1023px) {
}
@media (max-width: 767px) {
  .tabs__review-text {
    text-align: center;
    max-width: 22.8rem;
    margin: 0;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}
.tabs__review-author {
  display: flex;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .tabs__review-author {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.tabs__review-avatar {
  border-radius: 50%;
  height: 100%;
  margin-top: 0.5rem;
}
@media (max-width: 767px) {
  .tabs__review-avatar {
    height: 3.8rem;
    width: 3.8rem;
  }
}
.tabs__review-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.466667px;
}
@media (max-width: 767px) {
  .tabs__review-name {
    margin-bottom: 3.4rem;
  }
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-basis: 0;
  outline: 5px solid red;
  padding-bottom: 3rem;
}
@media (max-width: 1023px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .footer {
    flex-wrap: wrap;
  }
}
.footer__cities {
  position: relative;
  padding-left: 1rem;
  max-width: 35rem;
}
.footer__cities::before {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 19rem;
  background-color: #D7D9DF;
  right: -5rem;
  top: 0;
}
@media (max-width: 767px) {
  .footer__cities {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 3rem;
    flex-wrap: wrap;
  }
  .footer__cities::after {
    content: "";
    position: absolute;
    border-right: 1px solid #D7D9DF;
    height: 1px;
    width: 100%;
    background-color: #D7D9DF;
    right: 0rem;
    bottom: 5;
  }
}
.footer__social-wrapper {
  display: flex;
  margin-right: 3rem;
  margin-top: 2rem;
}
@media (max-width: 1023px) {
  .footer__social-wrapper {
    margin-left: 2rem;
  }
}
@media (max-width: 767px) {
  .footer__social-wrapper {
    justify-content: center;
  }
}
.footer__social {
  position: relative;
  max-width: 32rem;
  margin-left: 9rem;
}
.footer__social::after {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 19rem;
  background-color: #D7D9DF;
  right: -1rem;
  top: 0;
}
@media (max-width: 1023px) {
  .footer__social::after {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer__social::after {
    display: none;
  }
}
@media (max-width: 1023px) {
  .footer__social {
    margin: 0;
    margin-left: 10rem;
  }
}
@media (max-width: 767px) {
  .footer__social {
    margin: 0 auto;
    text-align: center;
  }
}
.footer__mail {
  font-size: 14px;
  line-height: 17px;
}
.footer__icon-phone {
  fill: #D7D9DF;
  stroke: #D7D9DF;
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
}
@media (max-width: 1023px) {
  .footer__icon-phone {
    margin-right: 1rem;
  }
}
@media (max-width: 767px) {
  .footer__icon-phone {
    margin-left: 0;
  }
}
.footer__icon-mail {
  width: 2.5rem;
  height: 2rem;
  fill: #D7D9DF;
  margin-right: 1.5rem;
}
@media (max-width: 1023px) {
  .footer__icon-mail {
    margin-right: 1rem;
  }
}
.footer__column {
  margin-right: 5rem;
}
@media (max-width: 767px) {
  .footer__column {
    margin: 0;
  }
}
.footer__columns {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
}
@media (max-width: 1023px) {
  .footer__columns {
    margin-top: 1.5rem;
  }
}
@media (max-width: 767px) {
  .footer__columns {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
}
.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  max-height: 3rem;
}
@media (max-width: 1023px) {
  .footer__title {
    margin-left: 1rem;
  }
}
.footer__mail {
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  /* акцентный основной */
  color: #FE7865;
}
.footer__phone {
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  /* акцентный основной */
  color: #FE7865;
}
.footer__text {
  font-size: 14px;
  line-height: 13px;
  white-space: nowrap;
  color: rgba(20, 21, 23, 0.5);
}
.footer__text--right {
  font-size: 14px;
  line-height: 24px;
  white-space: normal;
  margin-top: 2rem;
  max-width: 32rem;
}
@media (max-width: 1023px) {
  .footer__text--right {
    max-width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
.footer__corporate {
  position: relative;
  margin-left: 6rem;
}
@media (max-width: 1023px) {
  .footer__corporate {
    margin: 0 auto;
    flex: 3 3 100%;
    width: 100%;
    text-align: center;
    margin-top: 4.5rem;
  }
  .footer__corporate:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #D7D9DF;
    right: 0rem;
    top: -2rem;
  }
}
@media (max-width: 767px) {
  .footer__corporate:before {
    content: "";
    border: 1px solid #D7D9DF;
    top: 150px;
    right: 0;
    width: 280px;
    height: 1px;
    top: 0;
    left: 0;
  }
}
.questions {
  position: relative;
  padding-bottom: 17rem;
  margin-left: 1rem;
}
@media (max-width: 1023px) {
  .questions {
    margin-left: 0rem;
    padding-bottom: 8rem;
  }
}
.questions__image-wrapper {
  text-align: left;
  background-image: url(../../img1/sky.jpg);
  width: 844px;
  height: 455px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .questions__image-wrapper {
    background-image: url(../../img1/sky2x.jpg);
  }
}
@media (max-width: 1023px) {
  .questions__image-wrapper {
    background-image: url(../../img1/sky-tablet.jpg);
    background-repeat: no-repeat;
    width: 100%;
  }
}
@media (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1023px) and (min-resolution: 2dppx) {
  .questions__image-wrapper {
    background-image: url(../../img1/sky-tabket2x.jpg);
  }
}
@media (max-width: 767px) {
  .questions__image-wrapper {
    background: #fff;
  }
}
.questions__input-wrapper {
  margin-bottom: 2.5rem;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  position: relative;
}
@media (max-width: 1023px) {
  .questions__input-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .questions__input-wrapper {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.questions__modal {
  background-color: #fff;
  position: absolute;
  right: -2rem;
  top: 7rem;
  z-index: 1;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  box-shadow: 0px 4px 30px rgba(41, 54, 66, 0.1);
  border-radius: 5px;
  padding-top: 5rem;
}
@media (max-width: 1023px) {
  .questions__modal {
    right: 5rem;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .questions__modal {
    position: relative;
    top: 0;
    right: 0;
    padding: 0;
  }
}
.questions__title {
  margin: 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
}
.questions__intro {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 2rem;
}
.questions__phone-number-label {
  display: inline-block;
  vertical-align: center;
  padding-top: 1.5rem;
  position: absolute;
  left: 2.5rem;
  top: 0;
  margin-bottom: 2.5rem;
}
.questions__phone-number-label::before {
  content: "";
  background-image: url(../../img1/star.svg);
  width: 6px;
  height: 2rem;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: -13px;
}
.questions__phone-number,
.questions__email {
  display: inline-block;
  font-family: inherit;
  width: 27rem;
  height: 5rem;
  padding-left: 1.5rem;
  color: #141517;
  font-weight: 400;
  border: 1px solid rgba(44, 46, 63, 0.3);
}
.questions__phone-number::-moz-placeholder, .questions__email::-moz-placeholder {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  color: #141517;
  font-weight: normal;
}
.questions__phone-number::placeholder,
.questions__email::placeholder {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  color: #141517;
  font-weight: normal;
}
@media (max-width: 767px) {
  .questions__phone-number,
  .questions__email {
    width: 100%;
  }
}
.questions__phone-number {
  padding-left: 5rem;
}
.questions__phone-number::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  outline: 25px solid red;
}
.questions__btn {
  display: block;
  margin: 0 auto;
  padding: 2rem 4rem;
  text-align: center;
  font-family: inherit;
  font: inherit;
  border: none;
  background-color: #FE7865;
  outline: none;
  color: white;
  font-size: 12px;
  line-height: 15px;
}
@media (max-width: 1023px) {
  .questions__btn {
    font-size: 10px;
    line-height: 12px;
    padding: 2rem 8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
@media (max-width: 767px) {
  .questions__btn {
    width: 100%;
  }
}
.price {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding-bottom: 13.8rem;
}
@media (max-width: 1023px) {
  .price {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    padding-bottom: 12rem;
  }
}
@media (max-width: 767px) {
  .price {
    margin-top: 4.5rem;
  }
}
.price__card {
  border: 1px solid rgba(44, 46, 63, 0.3);
  border-radius: 6px;
  padding-top: 4rem;
  margin: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 37rem;
  padding-bottom: 3rem;
  min-height: 67rem;
  position: relative;
}
@media (max-width: 1023px) {
  .price__card {
    min-width: 28.8rem;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    padding-right: 0rem;
    padding-left: 0rem;
    padding-top: 2.5rem;
    min-height: auto;
    padding-bottom: 0;
  }
}
.price__card:hover,
.price__card:focus {
  border: 3px solid #FE7865;
}
.price__card:hover ~ .price__title {
  color: #FE7865;
}
.price__inner {
  display: flex;
  margin-bottom: 4rem;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .price__inner {
    display: block;
    margin-bottom: 1rem;
  }
}
.price__title {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}
@media (max-width: 1023px) {
  .price__title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 24px;
  }
}
.price__price {
  font-size: 25px;
  line-height: 34px;
  margin: 0;
  font-weight: 600;
}
@media (max-width: 1023px) {
  .price__price {
    text-align: center;
  }
}
.price__desc {
  font-size: 16px;
  line-height: 24px;
  max-width: 29rem;
  margin: 0;
  position: relative;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}
.price__desc::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 31rem;
  background-color: rgba(44, 46, 63, 0.3);
  left: 0;
  bottom: 0;
}
@media (max-width: 1023px) {
  .price__desc::after {
    width: 25rem;
    left: 2rem;
    bottom: 1rem;
  }
}
@media (max-width: 1023px) {
  .price__desc {
    text-align: center;
    margin: 0;
    margin-top: 1px;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }
}
.price__list {
  list-style-image: url("../../img1/bird.svg");
  padding-left: 2.5rem;
  margin-bottom: 3rem;
}
@media (max-width: 1023px) {
  .price__list {
    padding-left: 4rem;
    margin-bottom: 8rem;
  }
}
.price__list > li {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 1rem;
  max-width: 28rem;
}
@media (max-width: 1023px) {
  .price__list > li {
    max-width: 22rem;
    margin-left: 1rem;
  }
}
.price__btn {
  position: absolute;
  bottom: 0;
  padding: 3rem 7rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
@media (max-width: 1023px) {
  .price__btn {
    position: absolute;
    padding: 2rem 7rem;
    bottom: 0;
    width: inherit;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 500;
    display: block;
    margin-bottom: 0;
    width: 100%;
    margin-left: 0rem;
    margin-bottom: 0.4px;
  }
}
.price__intro {
  margin-top: 6.5rem;
  max-width: 100%;
}
@media (max-width: 1023px) {
  .price__intro {
    order: -1;
    flex: 3 3 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
}
.price__main-title {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}
.price__main-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 17.5rem;
  height: 0.3rem;
  background-color: #FE7865;
  left: 0;
}
@media (max-width: 1023px) {
  .price__main-title::after {
    display: none;
  }
}
@media (max-width: 1023px) {
  .price__main-title {
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    line-height: 150%;
  }
}
.price__description {
  font-size: 16px;
  line-height: 2.7rem;
  margin-top: 0;
  width: 30rem;
  color: rgba(44, 46, 63, 0.7);
  margin-bottom: 6rem;
}
@media (max-width: 1023px) {
  .price__description {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
.price__social {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 1.3rem;
}
@media (max-width: 1023px) {
  .price__social {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    margin-top: 3rem;
  }
}
@media (max-width: 767px) {
  .price__social {
    color: #141517;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
  }
}
.price__social-wrapper {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  justify-content: center;
}
@media (max-width: 1023px) {
  .price__social-wrapper {
    margin: 0 auto;
    text-align: center;
  }
}
.phone__icon {
  width: 3rem;
  height: 3rem;
}
@media (max-width: 1023px) {
}
@media (max-width: 1023px) {
  .price__phone {
    justify-content: center;
  }
}
.price__tel {
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}
.price__tel:hover,
.price__tel:focus {
  color: #F17D4B;
}
@media (max-width: 1023px) {
  .price__tel {
    font-size: 18px;
    margin-bottom: 0rem;
  }
}
@media (max-width: 767px) {
  .price__tel {
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
  }
}
.places {
  padding-bottom: 7.5rem;
}
@media (max-width: 1023px) {
  .places {
    padding-bottom: 9rem;
  }
}
@media (max-width: 767px) {
  .places {
    padding-top: 10rem;
    padding-bottom: 3rem;
  }
}
.places__desc {
  max-width: 36rem;
  position: relative;
  margin-bottom: 5.4rem;
  line-height: 4.5rem;
}
@media (max-width: 1023px) {
  .places__desc {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2.5rem;
  }
}
@media (max-width: 767px) {
  .places__desc {
    padding-bottom: 0;
  }
}
.places__title {
  margin-bottom: 3.5rem;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  position: relative;
  padding-bottom: 3rem;
}
@media (max-width: 1023px) {
  .places__title {
    font-size: 30px;
    line-height: 4.5rem;
    margin-bottom: 2rem;
    padding-bottom: 0;
    margin-top: 0;
  }
}
.places__title:after {
  content: "";
  position: absolute;
  width: 23rem;
  height: 0.4rem;
  left: 0;
  bottom: 0;
  background-color: #FE7865;
}
@media (max-width: 1023px) {
  .places__title:after {
    display: none;
  }
}
.places__text {
  font-size: 16px;
  line-height: 28px;
  color: rgba(44, 46, 63, 0.7);
  max-width: 35rem;
  letter-spacing: -0.466667px;
}
.places__photos {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  row-gap: 10rem;
  justify-content: center;
}
@media (max-width: 1023px) {
  .places__photos {
    margin: 0 auto;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    row-gap: 1.8rem;
  }
}
@media (max-width: 767px) {
  .places__photos {
    row-gap: 3rem;
  }
}
.places__photo-wrapper {
  position: relative;
}
.places__photo-inner {
  display: flex;
  -moz-column-gap: 12rem;
       column-gap: 12rem;
  position: relative;
}
@media (max-width: 1023px) {
  .places__photo-inner {
    display: contents;
  }
}
.places__photo {
  max-width: 35rem;
  min-height: 43rem;
}
@media (max-width: 1023px) {
  .places__photo {
    max-width: auto;
    min-height: auto;
  }
}
.places__photo-caption {
  display: block;
  position: absolute;
  bottom: 0rem;
  background-color: #fff;
  padding: 2rem 0rem;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  margin-left: 6.5rem;
  margin-right: 6.5rem;
  margin-bottom: 0;
  text-align: center;
  width: 21.5rem;
}
@media (max-width: 1023px) {
  .places__photo-caption {
    right: -1rem;
    left: -3rem;
  }
}
.modal__image-wrapper {
  text-align: left;
  background-image: url(../../img1/sky.jpg);
  width: 844px;
  height: 455px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .modal__image-wrapper {
    background-image: url(../../img1/sky2x.jpg);
  }
}
@media (max-width: 1023px) {
  .modal__image-wrapper {
    background-image: url(../../img1/sky-tablet.jpg);
    background-repeat: no-repeat;
    width: 100%;
  }
}
@media (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1023px) and (min-resolution: 2dppx) {
  .modal__image-wrapper {
    background-image: url(../../img1/sky-tabket2x.jpg);
  }
}
@media (max-width: 767px) {
  .modal__image-wrapper {
    background: #fff;
  }
}
.modal__input-wrapper {
  margin-bottom: 2.5rem;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 1rem;
}
.modal {
  background-color: #fff;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  box-shadow: 0px 4px 30px rgba(41, 54, 66, 0.1);
  border-radius: 5px;
  padding-top: 5rem;
}
@media (max-width: 1023px) {
  .modal {
    right: 5rem;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .modal {
    position: relative;
    top: 0;
    right: 0;
    padding: 0;
  }
}
.modal__title {
  margin: 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
}
.modal__phone-number-label {
  display: inline-block;
  vertical-align: center;
  padding-top: 1.5rem;
  position: absolute;
  left: 2.5rem;
  top: 0;
  margin-bottom: 2.5rem;
}
.modal__phone-number-label::before {
  content: "";
  background-image: url(../../img1/star.svg);
  width: 6px;
  height: 2rem;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: -13px;
}
.modal__phone-number,
.modal__email {
  display: inline-block;
  font-family: inherit;
  width: 27rem;
  height: 5rem;
  padding-left: 1.5rem;
  color: #141517;
  font-weight: 400;
  border: 1px solid rgba(44, 46, 63, 0.3);
}
.modal__phone-number::-moz-placeholder, .modal__email::-moz-placeholder {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  color: #141517;
  font-weight: normal;
}
.modal__phone-number::placeholder,
.modal__email::placeholder {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  color: #141517;
  font-weight: normal;
}
@media (max-width: 767px) {
  .modal__phone-number,
  .modal__email {
    width: 100%;
  }
}
.modal__phone-number {
  padding-left: 5rem;
}
.modal__phone-number::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  outline: 25px solid red;
}
.modal__phone-number {
  padding-left: 5rem;
}
.modal__phone-number::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  outline: 25px solid red;
}
.modal__btn {
  display: block;
  margin: 0 auto;
  padding: 2rem 4rem;
  text-align: center;
  font-family: inherit;
  font: inherit;
  border: none;
  background-color: #FE7865;
  outline: none;
  color: white;
  font-size: 12px;
  line-height: 15px;
}
@media (max-width: 1023px) {
  .modal__btn {
    font-size: 10px;
    line-height: 12px;
    padding: 2rem 8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
@media (max-width: 767px) {
  .modal__btn {
    width: 100%;
  }
}
.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  padding-top: 3.8rem;
  padding-bottom: 3rem;
}
@media (max-width: 1023px) {
  .main-nav {
    padding-top: 2rem;
    padding-bottom: 1.2rem;
    position: relative;
  }
}
.main-nav__toggle {
  display: none;
}
@media (max-width: 1023px) {
  .main-nav__toggle {
    position: absolute;
    right: 0;
    top: 0;
    height: 5rem;
    width: 72px;
    background-color: #FE7865;
    cursor: pointer;
    border: none;
    display: block;
  }
}
@media (max-width: 767px) {
  .main-nav__toggle {
    width: 5rem;
  }
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: #F17D4B;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 22.5px;
  height: 1px;
  background-color: #DADADA;
  top: 2rem;
  left: 2.5rem;
  box-shadow: 0 5px 0 0 #DADADA, 0 10px 0 0 #DADADA;
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__toggle::before {
    left: 1.5rem;
  }
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  right: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__item {
  font-size: 0;
}
.logo {
  width: 5.7rem;
  height: 2.2rem;
  margin-left: 1rem;
}
@media (max-width: 1023px) {
  .logo {
    width: 4.4rem;
    height: 1.7rem;
  }
}
.main-nav__text {
  color: #141517;
  font-weight: 500;
  line-height: 2.5rem;
}
@media (max-width: 1023px) {
  .main-nav__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    width: 320px;
    color: #48494D;
    margin-bottom: 6rem;
  }
}
.main-nav__text:hover,
.main-nav__text:focus {
  color: #FE7865;
}
.main-nav__icon {
  display: block;
  width: 30px;
  height: 30px;
}
.main-nav__icon:hover,
.main-nav__icon:focus {
  fill: #FE7865;
  stroke: #FE7865;
  outline: none;
}
.main-nav__icon:hover + .main-nav__tel {
  color: #FE7865;
}
.main-nav__content {
  display: flex;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  height: 100%;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .main-nav--closed .main-nav__content {
    display: none;
  }
}
@media (max-width: 1023px) {
  .main-nav--opened .main-nav__content {
    display: grid;
    grid-template-rows: 10rem 10rem;
    padding-left: 5px;
    width: 320px;
    height: 568px;
    position: absolute;
    top: 0;
    right: 5rem;
    background-color: #fff;
  }
}
.phone__container {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.phone__container:hover > svg,
.phone__container:focus > svg {
  fill: #FE7865;
  stroke: #fff;
}
.main-nav__tel {
  color: #141517;
  text-decoration: underline;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}
.main-nav__tel:hover {
  color: #FE7865;
}
@media (max-width: 1023px) {
  .main-nav__phone-container {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
